@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

h3{
    font-size: 20px;
    color: #6A2894;
    text-align: center;
    margin-top: 15px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 300;
    font-style: medium;
  }

  h1{
    font-size: 25px;
    color: #6A2894;
    text-align: center;
    margin-top: 20px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h2{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6A2894;
    font-size: 15px;
    text-align: center;
  }

  p{
    color: #6A2894;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h4{
    color: #6A2894;
    font-size: 18px;
    text-align: left;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h5{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6A2894;
    font-size: 15px;
    text-align: left;
    justify-content: baseline;
  }

  body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .registro-pacientes {
    background-color: #D0C6E7; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 390px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
  }
  
  .historico-container {
    padding: 20px;
}

  .historico-item {
    margin-bottom: 20px;
    margin-right: 5px;
}

hr {
    border: none;
    border-top: 1px solid #8976b4;
    margin: 20px 0;
    width: 360px;
}

.hr-linha{
  border: none;
  border-top: 2px solid #6A2894;
  margin-top: 2px;
  width: 360px;
}

input[type="number"] {
    width: 75px;
    padding: 10px;
    border: 1px solid #6A2894;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #6A2894;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-top: 20px;
    height: 60px;
    width: 327px;
    font-size: 18px;
    font-weight: 500;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-style: medium;
  }

  button:hover {
    background-color: #481668;
}
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container input[type="text"], .input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #6A2894;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .input-container span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-style: medium;
  }
  
  .historico-item p {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 500;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-style: medium;
    margin-left: 60px;
  }
  
  .historico-item span {
    font-size: 15px;
    color: #6A2894;
    text-align: right;
    font-weight: 500;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-style: medium;
    margin-left: 80px;
  }

  .input-container select {
    width: 327px;
    padding: 10px;
    border: 1px solid #6A2894;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 60px;
  }