@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

h3{
  font-size: 20px;
  color: #6A2894;
  text-align: center;
  margin-top: 10px;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 300;
  font-style: medium;
  }

  h1{
    font-size: 25px;
    color: #6A2894;
    text-align: center;
    margin-top: 20px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h2{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6A2894;
    font-size: 15px;
    text-align: left;
    margin-right: 20px;
  }

.parent-container {
    display: flex;
    justify-content: left;
    align-items: left; 
    flex-direction: column;
  }

.registroP{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.details-info h1{
  font-size: 20px;
    color: #000;
    text-align: center;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 8px;
    margin-right: 8px;  
}

.paciente-details h2{
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6A2894;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.blood-pressure h3{
  font-size: 16px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: medium;
}

.pressure-values p{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B50000;
    font-size: 20px;
    text-align: center;
}

.parent-container img {
    width: 65px; 
    height: 65px; 
    border-radius: 50%; 
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
  }

 .registro-pacientes {
    background-color: #D0C6E7; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 390px;
    height: 160px; 
    text-align: center;
  }
  
 .registro-pacientes form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 .registro-pacientes input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    border-color: #6A2894;
    width: 200px;
    margin-bottom: 10px;
    height: 30px;
  }
  

  .search-container {
    display: flex;
    align-items: center;
    position: relative; 
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    border-color: #6A2894;
    width: 100px;
    margin-bottom: 10px;
  }
  
  .search-container .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute; 
    right: 10px; 
    top: 40%; 
    transform: translateY(-50%); 
  }

  .paciente-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: -15px;
  }
  
  .paciente-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: left;
  }
  
  .paciente-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .details-info p {
    margin: 10px;
  }
  
  .blood-pressure {
    background-color: #D0C6E7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
  }

  .blood-pressure h4 {
    margin-bottom: 10px; 
    font-size: 13px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: medium;
  }
  
  .pressure-values {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .patient-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .patient-icons svg {
    width: 28px;
    height: 28px;
    margin-left: 30px;
    margin-right: 30px;
  }