nav {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.navbar-logo {
  height: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text {
  margin-left: 0px;
  margin-right: 30px;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-family:"IBM Plex Sans Hebrew", sans-serif;
  font-size: 10px; /* Adicione esta linha */
}

nav a {
  text-decoration: none;
  color: #000;
  margin-right: 15px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

nav a:hover {
  color: #FFFFFF;
}